body
{
	background: url('/public/images/weather.png') repeat;
}
.panel
{
	border-radius: 15px;
}
.advise
{
	margin-top: 150px;
	color: rgb(255, 96, 175);
}
.advise .panel-body
{
	border-radius: 15px;
	background-color: yellow;
}